{% set description = cmf_resource_description(column) %}

{# TODO: Put the action logic into a Column class #}
{% set hasActions = false %}

<div class="ui simple dropdown">
	<div class="text">
		{{ column.name ?: '/' }}
	</div>
	<i class="dropdown icon"></i>
	<div class="menu">

		{% if description.has('links.create_child.html') %}
            {% include "@SycmsResourceBrowser/item_menu/_create_child.html.twig" %}
            {% set hasActions = true %}
		{% endif %}

        {% if description.has('link.edit.html') %}
            <div class="item">
				<a href="{{ description.get('link.edit.html') }}"><i class="icon large edit"></i> {{ 'edit'|trans() }}</a>
                {% set hasActions = true %}
			</div>
        {% endif %}

        {% if hasActions == false %}
			<div class="item disabled">
				{{ 'no-actions-available'|trans() }}
			</div>
		{% endif %}
	</div>
</div>
