{% set description = cmf_resource_description(column) %}

<div class="ui simple dropdown">
	<div class="text">
		{{ column.name ?: '/' }}
	</div>
	<i class="dropdown icon"></i>
	<div class="menu">
        {% if description.all|length == 0 %}
			<div class="item disabled">
				{{ 'no-actions-available'|trans() }}
			</div>
		{% endif %}

		{% if description.has('links.create_child.html') %}
            {% include "SycmsResourceBrowser/item_menu/create_child.html.twig" %}
		{% endif %}

        {% if description.has('link.edit.html') %}
            <div class="item">
				<a href="{{ description.get('link.edit.html') }}"><i class="icon large edit"></i> {{ 'edit'|trans() }}</a>
			</div>
        {% endif %}
	</div>
</div>
