{% for resource in column.listChildren %}
    {% include "@SycmsResourceBrowser/_item.html.twig" %}
{% else %}
    <div class="browser-item">
    <i>{{ 'no-children'|trans }}</i>
    </div>
{% endfor %}
