<div class="resource-browser">
    {% include "@SycmsResourceBrowser/_menu.html.twig" %}
    {% set columns = browser.columnsForDisplay() %}

    <div class="ui grid celled segment">
        <div class="row">
            {% for columnNb in 0..3 %}
                <div class="four wide column browser-header-item">
                    {% if columns[columnNb] is defined %}
                        {% include "@SycmsResourceBrowser/_headers.html.twig" with { 'column': columns[columnNb] } %}
                    {% else %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for columnNb in 0..3 %}
                <div class="four wide column sortable">
                    {% if columns[columnNb] is defined %}
                        {% include "@SycmsResourceBrowser/_items.html.twig" with { 'column': columns[columnNb] } %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
