<html>
    <head>
        <script type="text/javascript" src="{{ asset('assets/main.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/main.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Resource Browser Demo</h1>
            {% include "@TrogResourceBrowser/browser.html.twig" %}
<script type="text/javascript">
$(document).ready(function () {
    $('.sortable').sycmsResourceBrowser({
        update_path: "{{ path('sycms_resource_browser_update') }}"
    });
});
</script>

        </div>
    </body>
</html>
