{% extends "@SycmsAdmin/layout.html.twig" %}
{% block main %}

    {% form_theme form "@SycmsAdmin/form_theme.html.twig" %}

    <div class="ui segment">
    <form class="ui form" method="POST">
        {{ form_widget(form) }}
        <input type="submit" class="ui button primary" value="{{ 'save'|trans() }}" />
    </form>
    </div>

{% endblock %}
