<div class="resource-browser">
    {% include "@TrogResourceBrowser/_menu.html.twig" %}
    {% set columns = browser.columnsForDisplay() %}

    <div class="ui {{ nbColumnsInWords }} column grid celled">
        <div class="row">
            {% for columnNb in 0..browser.maxColumns %}
                <div class="column">
                    {% if columns[columnNb] is defined %}
                        {% include "@TrogResourceBrowser/_headers.html.twig" with { 'column': columns[columnNb] } %}
                    {% else %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for columnNb in 0..browser.maxColumns %}
                <div class="column sortable">
                    {% if columns[columnNb] is defined %}
                        {% include "@TrogResourceBrowser/_items.html.twig" with { 'column': columns[columnNb] } %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
