<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to SyCmS{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/admin.css') }}" />
    </head>
    <body>
        <div class="sycms-admin">
            <h1>SyCMS</h1><p>Experimental full-stack, hierarchical content management</p>
            {% block main %}
            {% endblock %}

            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('assets/admin.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>

