{% set description =  psi_describe(content) %}
{% set title = description.has('std.title') ? description.get('std.title').value : 'Untitled content' %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {{ psi_render_object(view) }}
    </body>
</html>
