{% set children = description.get('hierarchy.uris.create_child').values %}

{% if children %}
<div class="item">
    <i class="icon large add"></i>
    <i class="dropdown icon"></i>
    {{ 'create-child'|trans() }}
    <div class="menu">
        {% for alias, url in children %}
            <div class="item">
                <a href="{{ url }}">{{ alias }}</a>
                {% set hasActions = true %}
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}
